
<a href="/dashboard">&larr; Back to Dashboard</a>
<div class="edit-post-form">
    <h3 class="title is-size-5 mt-2">Edit Post</h3>
    <div>
        <input class="input m-1" type="text" name="post-title" value="{{title}}" />
        <textarea class="textarea m-1" id="content" name="content">{{content}}</textarea>
    </div>
    <button class="button save-post-btn m-1" data-id="{{id}}">Save Post</button>
    <!-- <button class="button delete-post-btn m-1 data-id="{{id}}>Delete post</button> -->
</div>

<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>
