{{> post-info post}}
{{#if loggedIn}}
<div class="edit-response-form">
    <div>
        <textarea name="response-content"></textarea>
    </div>

    <div>
        <button type="submit">Please Respond</button>
    </div>
    <div>
        <button class="delete-response-btn" data-id="{{response.id}}">DELETE RESPONSE</button>
    </div>
</div>
{{/if}}

{{> comments post.comments}}
<script src="/public/js/create-post"></script>

