{{> post-info post}}
{{#if loggedIn}}
<form class="edit-response-form">
    <div>
        <textarea name="response-content"></textarea>
    </div>

    <div>
        <button type="submit">Please Respond</button>
    </div>
    <div>
        <button class="delete-response-btn" data-id="{{response.id}}">DELETE RESPONSE</button>
    </div>
</form>
{{/if}}

{{> comments post.comments}}
<script src="/public/js/edit-response.js"></script>
<script src="/public/js/delete-response.js"></script>
